@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

html,
body {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Preahvihear", sans-serif;
}

#main-container {
  width: 100%;
  height: auto;
}

.more-text {
  display: none;
}

.linear-bars .bar .info span {
  animation: showText 0.5s 1s linear forwards;
  /* opacity: 0; */
}

.linear-bars .bar .linear-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  /* height: 5px; */
  background-color: #000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.linear-bars .bar .linear-line span {
  height: 100%;
  background-color: #7127ba;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.html span {
  width: 90%;
}

.css span {
  width: 90%;
}

.tailwind span {
  width: 90%;
}

.js span {
  width: 70%;
}

.react span {
  width: 50%;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border-radius: 50%;
  background-color: #292929;
  box-shadow: 0 0 5px 3px #222121;
}

.box::before {
  position: absolute;
  content: "";
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 50%;
  /* background-color: #292929; */
  border: 1px solid #353535;
}

.box .number span {
  color: #e9e9e9;
}

/* .box .number .num{
    font-size: 35px;
    font-weight: bold;
} */

/* .box .number .sub{
    font-size: 20px;
} */

.box .title {
  font-size: 12px;
  color: #9b9b9b;
}

.dots {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dots::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b7b5b5;
}

#url1_javascript {
  background-image: url("./assets/javascript.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#url1_github {
  background-image: url("./assets/git_hub.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#url1_html {
  background-image: url("./assets/html_css.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#url1 {
  background-image: url("./assets/certificate_1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#url2 {
  background-image: url("./assets/certificate_2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#url3 {
  background-image: url("./assets/certificate_3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#url4 {
  background-image: url("./assets/certificate_4.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.url a {
  background-color: rgba(59, 130, 246, 0.6);
}

.url a:hover {
  background-color: rgba(59, 130, 246, 1);
  transition: all 0.6s ease-in;
}

.project-desc {
  background-image: linear-gradient(to right, #201435, #7a6c8e);
}

/* ############################ */

/* nav {
  position: fixed;
  color: #e9e9e9;
  height: 10vh;
  width: 100%;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}

nav ul {
  color: #e9e9e9;
  display: flex;
  gap: 20px;
}

nav #menu-btn {
  display: none;
} */

/* ######################################################## */

nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 80;
}

.logo {
  font-size: 15px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  /* color: #fff; */
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ddd;
}

/* Menu icon (hidden by default) */
.menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

nav button {
  order: 2;
}

.html {
  color: #d2691e;
}

.css {
  color: #1572b6;
}

.tailwind {
  color: #19b2b9;
}

.js {
  color: #ebd968;
}

.react {
  color: #61dafb;
}

.f {
  color: #f74b11;
}

.i {
  color: #b056f7;
}

.g {
  color: #00b6f7;
}

.m {
  color: #f76f5e;
}

.a {
  color: #00c97b;
}

.software {
  color: #026fef;
}

.tiit {
  color: red;
}

.cu {
  color: rgb(255, 0, 0);
}

.bca {
  text-shadow: 2px 2px 6px #ff0000;
}

.mca {
  text-shadow: 2px 2px 5px #ff0000;
}
